<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      #app {
        width: 500px;
        border: 1px #eee solid;
        padding: 10px 20px;
        margin: 0 auto;
      }

      #app > div {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px #eee solid;
      }

      table {
        width: 500px;
        padding: 10px 0;
      }

      table td {
        border-bottom: 1px #eee solid;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2 style="text-align: center">手机列表</h2>
      <table>
        <thead>
          <th>索引</th>
          <th>型号</th>
          <th>单价</th>
          <th>数量</th>
          <th>总价</th>
        </thead>
        <tbody>
          <tr v-for="(item,index) in goods">
            <td ref="index">{{ index + 1 }}</td>
            <td>{{ goods[index].type }}</td>
            <td>{{ goods[index].price }}</td>
            <td>
              <button @click="handleReduce(index)">-</button>
              <span v-model="count">{{ goods[index].count }} </span>
              <button @click="handleAdd(index)">+</button>
            </td>
            <!-- <td>{{ goods[index].count * goods[index].price}}</td> -->
            <td>{{ singlePrice(index) }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="./vue.min.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          goods: [
            { type: "苹果iPhone 11", price: 5499, count: 5, allPrice: 5499 },
            { type: "华为Mate 20 Pro", price: 3199, count: 1, allPrice: 3199 },
            { type: "小米9", price: 2549, count: 1, allPrice: 2549 },
            { type: "Redmi K20", price: 1999, count: 1, allPrice: 1999 }
          ],

          count: 1
        },

        methods: {
          // 添加商品数量
          handleAdd(index) {

            // var index = this.$refs.index;
            // console.log(index);

            var count = +this.goods[index].count;
            count++;
            this.goods[index].count = count;
            return count;
          },

          // 减少商品数量
          handleReduce(index) {
            var count = +this.goods[index].count;
            if (count < 1) {
              alert("不能再少了哦！");
              return;
            }
            count--;
            this.goods[index].count = count;
            return count;
          }
        },

        computed: {
          singlePrice(index) {
            console.log(index);
            
            // // var index = this.goods.
            // var index = this.$refs.index;
            // console.log(index);
            // return +this.goods[index].price * +this.goods[index].count;
            // // this.goods[index].allPrice =  +this.goods[index].price * +this.goods[index].count
          }
        }
        // watch:{

        // }
      });
    </script>
  </body>
</html>
