<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      #app {
        width: 500px;
        border: 1px #eee solid;
        padding: 10px 20px;
        margin: 0 auto;
      }

      #app > div {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px #eee solid;
      }

      table {
        width: 500px;
        padding: 10px 0;
      }

      table td {
        border-bottom: 1px #eee solid;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <!-- 创建vue运行框架 -->
    <div id="app">
      <h2 style="text-align: center">购物列表</h2>
      <!-- 添加商品 -->
      <div>
        <div>型号：<input type="text" v-model="newsGoods.type" ref="typeInput"/></div>
        <div>价格：<input type="text" v-model="newsGoods.price" /></div>
        <button @click="handleAdd">添加</button>
      </div>

      <div>预算金额：<input type="text" @keyup.enter="handleEnter" /></div>
      <table>
        <thead>
          <th>索引</th>
          <th>型号</th>
          <th>价格</th>
          <th>操作</th>
        </thead>

        <tbody>
          <!-- 通过循环遍历的方法渲染 -->
          <tr v-for="(item,index) in goods" v-if="item.price <= money">
            <td>{{ index + 1 }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.price }}</td>
            <td><button @click="handleDel(index)">删除</button></td>
          </tr>
        </tbody>
        <div>
          计算总价：{{result}}
        </div>
      </table>
    </div>

    <!-- 引入vue文件 -->
    <script src="./vue.min.js"></script>
    <script>
      // 创建vue实例
      var app = new Vue({
        // 绑定容器
        el: "#app",
        data: {
          goods: [
            { type: "苹果iPhone 11", price: 5499 },
            { type: "华为Mate 20 Pro", price: 3199 },
            { type: "小米9", price: 2549 },
            { type: "Redmi K20", price: 1999 }
          ],
          // 添加判断条件，因为一开始是以这个值作为判断显示相对的产品，所以要设高一点
          money: 200000,

          // 初始化添加商品输入框的值
          newsGoods: {
            type: "",
            price: ""
          }
        },

        methods: {
          // 当键盘弹起的时候触发事件，执行判断筛选功能
          handleEnter(event) {
            // 获取到当前输入框的数值赋值给变量value,记得用+号转换成数值
            var value = +event.target.value;
            console.log(value);

            // 将得到的value赋值到数据中的money，同步数据
            this.money = value;
          },

          // 当点击添加按钮的时候，执行添加商品的事件
          handleAdd() {
            // 先判断用户输入的值是否为空
            if (this.newsGoods.type == "" || this.newsGoods.price == "") {
              // 如果为空，则提示
              alert("型号和价格都不能为空");
              return;
            }

            // 添加的应该是一个复杂类型的对象，是值传递而不是地址传递，所以要新建一个对象存储
            // this.goods.push({
            //   type: this.newsGoods.type,
            //   price: this.newsGoods.price
            // });

            // 获取新添加的一组商品数据
            var obj = {...this.newsGoods}
            // 使用展开数组的方法将里面的数据展开成一个新的数据赋值给新的数组arr
            var arr = [...this.goods]
            
            arr.push(obj)
            // 重新将这个数组覆盖在当前的goods中，更新数据
            this.goods = arr

            this.newsGoods.type = "";
            this.newsGoods.price = "";
          },

        //   添加点击删除商品列表事件,通过index找到对应的商品
          handleDel(index){
            // this.goods.splice(index,1)

            // 使用展开数组的方法将里面的数据展开成一个新的数据赋值给新的数组arr
            var arr = [...this.goods]
            arr.splice(index,1)
            // 重新将这个数组覆盖在当前的goods中，更新数据
            this.goods = arr

          },
        },

        // 当页面加载完成之后，设置默认焦点在输入框内
        mounted(){
            // 获取到这个input
            let input = this.$refs.typeInput;
            // 添加焦点
            input.focus()
        },

        // 通过computed监听计算
        computed:{
          result(){
            var price = 0
            this.goods.forEach(item => {
               price += item.price
            });
            return price
          }
        },

        // 使用watch监听goods中的变动状态，以此添加一个增删的日志
        watch:{
          // 传入参数newGoods为变更后的新数据，oldGoods为变更前的数据，
          // 但是需要商品添加和删除时的数据要用赋值的方式才能在这边取到值进行判断
          goods(newGoods,oldGoods){
            // 根据前后数据的长度判断数据是否删除或增加
            if(newGoods.length > oldGoods.length){
              console.log("添加了商品");
            }
            if(newGoods.length < oldGoods.length){
              console.log("删除了商品");
            }

          }
        }
        
      });
    </script>
  </body>
</html>
