<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      #app {
        width: 500px;
        border: 1px #eee solid;
        padding: 10px 20px;
        margin: 0 auto;
      }

      #app > div {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px #eee solid;
      }

      table {
        width: 500px;
        padding: 10px 0;
      }

      table td {
        border-bottom: 1px #eee solid;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <!-- 创建vue运行框架 -->
    <div id="app">
        <h2 style="text-align: center">购物列表</h2>
        <div>
            预算金额：<input type="text" @keyup.enter="handleEnter" >
        </div>
        <table>
            <thead>
                <th>索引</th>
                <th>型号</th>
                <th>价格</th>
                <th>操作</th>
            </thead>

            <tbody>
                <!-- 通过循环遍历的方法渲染 -->
                <tr v-for="(item,index) in goods" v-if="item.price <= money">
                    <td>{{index + 1}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.price}}</td>
                    <td>删除</td>
                </tr>
            </tbody>

        </table>

    </div>



    <!-- 引入vue文件 -->
    <script src="./vue.min.js"></script>
    <script>
        // 创建vue实例
        var app = new Vue({
            // 绑定容器
            el:"#app",
            data:{
                goods:[
                    {type:"苹果iPhone 11",price:5499},
                    {type:"华为Mate 20 Pro",price:3199},
                    {type:"小米9",price:2549},
                    {type:"Redmi K20",price:1999},
                ],
                // 添加判断条件，因为一开始是以这个值作为判断显示相对的产品，所以要设高一点
                money:200000,

            },

            methods:{
                // 当键盘弹起的时候触发事件，执行判断筛选功能
                handleEnter(event){
                    // 获取到当前输入框的数值赋值给变量value,记得用+号转换成数值
                    var value = +event.target.value;
                    console.log(value);
                    
                    // 将得到的value赋值到数据中的money，同步数据
                    this.money = value
                }
            }
        })
    
    </script>


  </body>
</html>
